:root {
  --white: #faf9f7;
  --black: #1e1e1e;
  --black-light: #343434;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Playfair Display', serif;
}

html,
body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--black);
  line-height: 1;
  letter-spacing: -0.5px;
  overflow-x: hidden;
  height: 100%;
}
